{% load static %}<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Caisse VL{% endblock title %}</title>

    <!-- Bootstrap -->
    <link href="{% static "libs/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "libs/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "libs/select2/css/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "css/caisse.css" %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
    {% block content %}
    {% endblock content %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "libs/jquery/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "libs/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- Notifcation lib -->
    <script src="{% static "libs/tma-notify/notify.js" %}"></script>
    <!-- Select2 -->
    <script src="{% static "libs/select2/js/select2.min.js" %}"></script>

    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>

